h2{
    padding-top: 20px;
    text-align: center;
    color: red;
}
div,
.categories{
    text-transform: uppercase;
    text-align: center;
    
  width: 500px;
  
  padding: 15px;
  margin: 20px;
}

.test{
  background-color:lightcyan;
  border: 1px solid yellow;
}